*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
background-image: url(forest-1866837_1920.jpg);
font-family:'Times New Roman', Times, serif;
}

.note{
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
}
::placeholder { /* Most modern browsers support this now. */
    color: rgba(125, 125, 125, 0.299);
 }

.todo{
    zoom: 1.5;  
}



#add ,#del{
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    margin-top: 20px;
    border: solid white 1px;
    background: rgba(255, 255, 255, 0.336);
}
#add:hover ,#del:hover{
    background: rgba(0, 0, 0, 0.263);
    color: white;
}

